<ion-content  >
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-80>
      <ion-avatar> 
        <img src="../../assets/img/abstract-844.png"/>
        <h3 class="text-center">Cadastro</h3>
      </ion-avatar>
     
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label  position="floating">Nome</ion-label>
              <ion-select name="categoria" [(ngModel)]="post.categoria">
                <ion-select-option value="Trabalho">Trabalho</ion-select-option>
                <ion-select-option value="Escola">Escola</ion-select-option>
                <ion-select-option value="Lista">Lista</ion-select-option>
                <ion-select-option value="Tarefas">Tarefas</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label  position="floating">Descrição</ion-label>
              <ion-input autofocus required  ngModel type="text" name="descricao" [(ngModel)]="post.descricao" ></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button  full type="submit" color="secondary" (click)="register()" > Cadastrar </ion-button>
</ion-content>
