ion-avatar {
  margin: 20px;
  width: 150px;
  height: auto;
}

ion-button {
  background-color: #7964e0;
  margin-top: 8px;
  margin-left: 35%;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-size: 20px;
  color: #7964e0;
  font-weight: bold;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}