<ion-content  >
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-80>
      <ion-avatar> 
        <img src="../../assets/img/abstract-845.png"/>
        <h3 class="text-center">Login</h3>
      </ion-avatar>
     
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset>
           
            <ion-item>
              <ion-label  position="floating">E-mail</ion-label>
              <ion-input autofocus required  #email type="email" name="email" [(ngModel)]="userLogin.email"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input autofocus required #password type="password" name="password" [(ngModel)]="userLogin.password"></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button  full type="submit" color="warning" (click)="login()"s> Entrar </ion-button>

</ion-content>

<ion-footer class="ion-no-border">
	<ion-toolbar>
		<p class="ion-text-center custom-font">Ainda não tem uma conta? <a class="link" href="register">Registrar-se</a></p>
	</ion-toolbar>
</ion-footer>