ion-avatar {
  margin: 15px;
  width: 150px;
  height: auto;
}

ion-button {
  margin-top: 8px;
  margin-left: 35%;
}

h3 {
  margin-left: 30px;
  justify-content: center;
}

.link {
  color: #50c8ff;
  font-weight: 500;
  text-decoration: none;
}
