ion-avatar {
  margin: 15px;
  width: 150px;
  height: auto;
  align-items: center;
}

ion-button {
  background-color: #7964e0;
  margin-top: 8px;
  margin-left: 35%;
}

.login{
  font-size: 30px;
  color: #7964e0;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  align-items: center;
  justify-content: center;
}

.text{
  color:#7964e0;
  font-weight: bold;
}

.link {
  color: #7964e0;
  font-weight: 500;
  text-decoration: none;
}
