<ion-content  >
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-80>
      <ion-avatar> 
        <img src="../../assets/img/login2.png"/>
        <h3 class="text-center text">Cadastre-se</h3>
      </ion-avatar>
     
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label  position="floating">Nome</ion-label>
              <ion-input autofocus required  ngModel type="username" name="username"[(ngModel)]="userRegister.nome"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label  position="floating">E-mail</ion-label>
              <ion-input autofocus required  ngModel type="email" name="email" [(ngModel)]="userRegister.email" ></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input autofocus required ngModel type="password" name="password" [(ngModel)]="userRegister.password"></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-button  full type="submit" color="#7964e0" (click)="register()" > Cadastrar </ion-button>
</ion-content>

<ion-footer class="ion-no-border">
	<ion-toolbar>
		<p class="ion-text-center custom-font">Já tem uma conta? <a class="link" href="login">Entrar</a></p>
	</ion-toolbar>
</ion-footer>