<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NotForgetApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button fill="clear" class="labels" (click)="navigateToPost()">Adicionar novo Post IT</ion-button>
  <div *ngFor="let post of posts | async">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-subtitle>{{post.categoria}}</ion-card-subtitle>
        <ion-button icon-only shape="round" color="white" fill="clear" (click)="edit(post, post.key)">
          <ion-icon class="icon1" slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-card-header>
      
      <ion-card-content>
        {{post.descricao}}
        <ion-button icon-only shape="round" color="white" fill="clear" (click)="delete(post.key)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
